<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo"
        >LloydJefferson.
      </a>
      <button class="accent">svg</button>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-1.html"
            >About me</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
